.compose-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem;
    max-width: 700px;
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}

.compose-container.open {
    display: block;
}
.header {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: #F2F6FC;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.close-btn {
    padding: 0.5rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #e2e8f0;
}
.compose-input {
    width: 100%;
    display: block;
    margin-bottom: 0.4rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border: none;
    border-bottom:1px solid #c9c7c7;
}

.editor-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.compose-editor {
    min-height: 200px;
    padding: 1rem;
    background-color: #fafafa;
}

.editor-toolbar {
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 0 0 6px 6px;
}

.compose-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.compose-button:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
}

.compose-button:hover:not(:disabled) {
    background-color: #45a049;
}