.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 220px;
    height: calc(100% - 60px);
    background-color: #4f46e5;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-top {
    width: 100%;
    margin-bottom: 30px;
}

.sidebar-button {
    display: block;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #3730a3;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #312e81;
}

.sidebar-links {
    width: 100%;
}

.sidebar-link {
    display: block;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #4f46e5;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.sidebar-link:hover {
    background-color: #312e81;
}

.active-link {
    background-color: #312e81;
    font-weight: bold;
}

.unread-count {
    font-size: 14px;
    color: #1efb64;
    background-color: #f8f9fa;
    padding: 3px 8px;
    border-radius: 12px;
    margin-left: 30px;
    font-weight: bold;
    display: inline-block; }