.main-wrapper {
    position: relative;
    min-height: 100vh;
    background-color: #f8f9fa;
    overflow: hidden;
}



.curve-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #007bff;
    border-bottom-left-radius: 100%;
    z-index: 0;
}

.signup-card .form-control:hover {
    background-color: #f0f8ff;
    border-color: #007bff;
    box-shadow: none;
}



